<!-- messageModal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Messages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-section table-message">
                    <table class="table">
                        <tr>
                            <td>MVP testing</td>
                            <td><span class="badge badge-primary">Project</span></td>
                            <td>
                                <div class="msg-pop-btns">
                                    <a href="#"><img src="./assets/images/icons/icon-envelope.png" alt=""></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Children nodes under sub-projects </td>
                            <td><span class="badge badge-success">Deliverable</span></td>
                            <td>
                                <div class="msg-pop-btns">
                                    <span class="number number-success">2</span>
                                    <a href="#"><img src="./assets/images/icons/icon-envelope.png" alt=""></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>The last favourite node</td>
                            <td><span class="badge badge-danger">Issue</span></td>
                            <td>
                                <div class="msg-pop-btns">
                                    <a href="#"><img src="./assets/images/icons/icon-envelope.png" alt=""></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Team dashboard navigate</td>
                            <td><span class="badge badge-success">Deliverable</span></td>
                            <td>
                                <div class="msg-pop-btns">
                                    <a href="#"><img src="./assets/images/icons/icon-envelope.png" alt=""></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Chat and crumboard</td>
                            <td><span class="badge badge-danger">Issue</span></td>
                            <td>
                                <div class="msg-pop-btns">
                                    <a href="#"><img src="./assets/images/icons/icon-envelope.png" alt=""></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- messageModal -->


<!-- addTaskModal -->
<div class="modal fade modal-addtask" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTask" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="test-task"><a href="#">Test task</a></div>
                <div class="general-form">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Title</label>
                            <input type="text" Value="Task number one" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>Due date</label>
                            <div class="datepiker-wrap">
                                <input type="text" Value="12/02/2019" class="form-control datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="general-group">
                        <label>Description</label>
                        <textarea class="form-control" placeholder="Type your message…" cols="5" rows="5"></textarea>
                    </div>
                    <div class="general-group">
                        <label>User</label>
                        <div class="control-user">
                            <a href="#" class="profile-link">
                                <img src="images/img-1.png" alt="">
                                <span>Anton Avilov</span>
                            </a>
                        </div>
                    </div>
                    <div class="general-links">
                        <ul>
                            <li><a href="#" class="file-name">FileName01.doc</a></li>
                            <li><a href="#" class="file-name">FileName01.doc</a></li>
                            <li><a href="#">Attach file</a></li>
                        </ul>
                    </div>
                    <input type="submit" value="Create task" class="btn btn-block btn-info">
                </div>

            </div>
        </div>
    </div>
</div>
<!-- addTaskModal -->
