<div class="table-section">
    <table class="table table-general table-tree">
        <thead>
            <tr>
                <th><a href="#" class="table-collapse-icon active"></a> MVP</th>
                <th><span class="badge badge-primary">Primary</span></th>
                <th>
                    <div class="table-edits edits-full">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                            <span class="fa fa-star active"></span>
                        </a>
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Message">
                            <img src="./assets/images/icons/icon-envelope2.png" alt="">
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="sortable">
            <tr>
                <td><span class="table-drag"></span> MVP testing</td>
                <td><span class="badge badge-primary">Primary</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                            <span class="fa fa-star active"></span>
                        </a>
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="table-drag"></span> Children nodes under sub-projects </td>
                <td><span class="badge badge-success">Deliverable</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="table-drag"></span> The last favourite node</td>
                <td><span class="badge badge-danger">Issue</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="table-drag"></span> Team dashboard navigate</td>
                <td><span class="badge badge-success">Deliverable</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div><!-- table-section -->

<div class="table-section">
    <table class="table table-general table-tree">
        <thead>
            <tr>
                <th><a href="#" class="table-collapse-icon active"></a> MVP</th>
                <th><span class="badge badge-primary">Primary</span></th>
                <th>
                    <div class="table-edits edits-full">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                            <span class="fa fa-star active"></span>
                        </a>
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="sortable">
            <tr>
                <td><span class="table-drag"></span> MVP testing</td>
                <td><span class="badge badge-primary">Primary</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                            <span class="fa fa-star active"></span>
                        </a>
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="table-drag"></span> Children nodes under sub-projects </td>
                <td><span class="badge badge-success">Deliverable</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- table-section -->


<div class="table-section">
    <table class="table table-general table-tree">
        <thead>
            <tr>
                <th><a href="#" class="table-collapse-icon"></a> MVP</th>
                <th><span class="badge badge-primary">Primary</span></th>
                <th>
                    <div class="table-edits edits-full">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                            <span class="fa fa-star active"></span>
                        </a>
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="sortable close">
            <tr>
                <td><span class="table-drag"></span> MVP testing</td>
                <td><span class="badge badge-primary">Primary</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite">
                            <span class="fa fa-star active"></span>
                        </a>
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="table-drag"></span> Children nodes under sub-projects </td>
                <td><span class="badge badge-success">Deliverable</span></td>
                <td>
                    <div class="table-edits edits-full">
                        <a href="#" class="edit-plus" data-toggle="tooltip" data-placement="top" title="Add">
                            <img src="./assets/images/icons/icon-plus.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit2.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- table-section -->