<div class="chat-wrap">
    <div class="chat-section">
        <div class="chat-avatar"><img src="./assets/images/img-1.png" alt=""></div>
        <div class="chat-title">
            <h3><a href="#">Anton Avilov</a></h3>
            <span>Message seen, 4:43 am</span>
        </div>
        <div class="chat-body">
            <p>
                When Birdy texted again, I was only a mile from Glades City, and the junkyard owned by Harris Spooner, so I was feeling tense and alone on this dark country road, until I read her message
            </p>
        </div>
    </div>
    <div class="chat-section">
        <div class="chat-avatar"><img src="./assets/images/img-2.png" alt=""></div>
        <div class="chat-title">
            <h3><a href="#">Kevin</a></h3>
            <span>Message seen, 4:43 am</span>
        </div>
        <div class="chat-body">
            <p>I was only a mile from Glades City, and the junkyard owned by Harris Spooner, so I was feeling tense and alone.</p>
            <p>
                When Birdy texted again, I was only a mile from Glades City, and the junkyard owned by Harris Spooner, so I was feeling tense and alone on this dark country road, until I read her message
            </p>
        </div>
    </div>
    <div class="chat-section">
        <div class="chat-avatar"><img src="./assets/images/img-1.png" alt=""></div>
        <div class="chat-title">
            <h3><a href="#">Anton Avilov</a></h3>
            <span>Message seen, 4:43 am</span>
        </div>
        <div class="chat-body">
            <p>
                When Birdy texted again, I was only a mile from Glades City, and the junkyard owned by Harris Spooner, so I was feeling tense and alone on this dark country road, until I read her message
            </p>
        </div>
    </div>
    <div class="chat-section">
        <div class="chat-avatar"><img src="./assets/images/img-2.png" alt=""></div>
        <div class="chat-title">
            <h3><a href="#">Kevin</a></h3>
            <span>Message seen, 4:43 am</span>
        </div>
        <div class="chat-body">
            <p>I was only a mile from Glades City, and the junkyard owned by Harris Spooner, so I was feeling tense and alone.</p>
            <p>
                When Birdy texted again, I was only a mile from Glades City, and the junkyard owned by Harris Spooner, so I was feeling tense and alone on this dark country road, until I read her message
            </p>
        </div>
    </div>

    <div class="chat-message">
        <input type="text" placeholder="Type message..." class="form-control">
        <input type="submit" value="Send" class="btn btn-info">
    </div>
</div><!-- chat-wrap -->