<div class="board-wrap">
    <div class="row">
        <div class="col-md-4">
            <div class="board-section">
                <div class="board-title">
                    <h2>To Do</h2>
                    <div class="more-wrap">
                        <a href="#" class="more-link"></a>
                    </div>
                </div>
                <div class="board-body" id="sortable1">
                    <div class="content-board">What are some popular naming conventions for Unit Tests?</div>
                    <div class="content-board board-primary">
                        What is the difference between integration and unit tests?
                    </div>
                    <div class="content-board board-purple">Is Unit Testing worth the effort?</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="board-section">
                <div class="board-title">
                    <h2>Doing</h2>
                    <div class="more-wrap">
                        <a href="#" class="more-link"></a>
                    </div>
                </div>
                <div class="board-body" id="sortable2">
                    <div class="content-board">What are some popular naming conventions for Unit Tests?</div>
                    <div class="content-board board-primary">
                        What is the difference between integration and unit tests?
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="board-section">
                <div class="board-title">
                    <h2>Test</h2>
                    <div class="more-wrap">
                        <a href="#" class="more-link"></a>
                    </div>
                </div>
                <div class="board-body" id="sortable3">
                    <div class="content-board">What are some popular naming conventions for Unit Tests?</div>
                    <div class="content-board board-primary">
                        What is the difference between integration and unit tests?
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>