<div class="container">
    <div class="main-wrap">
        
        <app-sidebar></app-sidebar>

        <div class="content-section">
            <div class="top-bar">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">My Team</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-4">
                        <div class="search-section">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-wrap">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3 class="active"><a href="/dashboard">Scrumboards</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">Home Renovations</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">New Platform</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">Scrumboards</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">Home Renovations</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">New Platform</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">Scrumboards</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">Home Renovations</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="article-section">
                            <h3><a href="/dashboard">New Platform</a></h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="count">
                                        <img src="./assets/images/icons/icon-bag.png" alt="">
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="count count-purple">
                                        <img src="./assets/images/icons/icon-check.png" alt="">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-section">
                                <ul>
                                    <li><strong>3</strong> <span>Issue</span></li>
                                    <li><strong>4</strong> <span>Deliverable</span></li>
                                    <li><strong>2</strong> <span>Risk</span></li>
                                </ul>
                            </div>
                            <div class="article-bot">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="blog-users">
                                            <ul>
                                                <li><div class="blog-user"><img src="./assets/images/img-1.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-2.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-3.png" alt=""></div></li>
                                                <li><div class="blog-user"><img src="./assets/images/img-4.png" alt=""></div></li>
                                                <li class="total-blog-users"><a href="#">+ 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="emai-icon-wrap">    
                                            <a href="#" class="email-icon"><img src="./assets/images/icons/icon-envelope2.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div><!-- article-wrap -->

        </div>


    </div><!-- main-wrap -->
</div><!-- container -->