<div class="choose-wrap">
    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#addTask">Choose files</a>
    <span>No file chosen</span>
</div>
<div class="table-section">
    <table class="table table-general table-documents">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Uploaded by</th>
                <th>Uploaded at</th>
                <th>Utils</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MVP testing 1</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-1.png" alt="">
                        <span>Anton Avilov</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MVP testing 2</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-4.png" alt="">
                        <span>Kevin</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MVP testing 3</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-1.png" alt="">
                        <span>Anton Avilov</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MVP testing 4</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-4.png" alt="">
                        <span>Kevin</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MVP testing 5</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-1.png" alt="">
                        <span>Anton Avilov</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MVP testing 6</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-4.png" alt="">
                        <span>Kevin</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MVP testing 7</td>
                <td>0,21 MB</td>
                <td>
                    <a href="#" class="profile-link">
                        <img src="./assets/images/img-1.png" alt="">
                        <span>Anton Avilov</span>
                    </a>
                </td>
                <td>17 Feb 2019, 02:28 pm</td>
                <td>
                    <div class="table-edits">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Trash">
                            <img src="./assets/images/icons/icon-trash.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                            <img src="./assets/images/icons/icon-edit.png" alt="">
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Downlaod">
                            <img src="./assets/images/icons/icon-download.png" alt="">
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>