<div class="general-form">
    <div class="general-group">
        <label>Name</label>
        <input type="text" Value="MVP" class="form-control">
    </div>
    <div class="general-group">
        <label>Node description</label>
        <input type="text" Value="Delivery of the minimum viable product for Company" class="form-control">
    </div>
    <div class="general-group">
        <label>Content</label>
        <div id="txtEditor"></div>
    </div>
    <div class="general-group">
        <label>Planned start</label>
        <div class="datepiker-wrap">
            <input type="text" Value="12/02/2019" class="form-control datepicker">
        </div>
    </div>
    <input type="submit" value="Create" class="btn btn-info">
</div>